<style>
        body {
            background-color: cyan;
        }
        #alpha {
            color:black;
            font-family: sans-serif;
        }
        #beta {
            color: black;
            font-family: sans-serif;
        }
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        a:link {
            color:navy;
            background-color: transparent;
            text-decoration: none;
        }    
        a:visited {
            color:navy;
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color:blue;
            background-color: transparent;
            text-decoration: none;
        }
        a:active {
            color:navy;
            background-color: transparent;
            text-decoration: none;
        }
        button {
            font-family: sans-serif;
        }
    </style>