body {
    background-color: white;
}
.apple {
    font-family: sans-serif;
    color: black;
}
.head1 {
    margin-left: 70px;
}
.img {
    margin-left: 70px;
}
.para1 {
    padding-top: 30px;
    margin-right: 150px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
@media (max-width: 1080px) {
    .flex-container {
      flex-direction: row;
    }
}
@media (max-width: 980px) {
    .flex-container {
      flex-direction: column;
    }
}
@media (max-width: 360px) {
    .flex-container {
      flex-direction: column;
    }
}
.flex-item-left {
    padding: 10px;
    flex: 50%;
}
.flex-item-right {
    padding: 10px;
    flex: 50%;
}
.navbar{
    font-family: sans-serif;
    width: fit-content%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}